:root {
  --alpha: 0.6;
  --white: 255, 255, 255;
  --background: #414042;
  --foreground: rgb(var(--white));
  --primary: #cbe5c0;
  --active: #ffe49c;
  --danger: #ff7876;
  --shadow: 0px 0px 10px rgba(0, 0, 0, var(--alpha));
  --border: 3px solid var(--primary);
  --border-radius: 1rem;
  --scale: 1.1;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  line-height: 1.2;
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem 2rem;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  transition: all 0.3s ease;
  color: var(--primary);
  text-decoration: none;
  text-shadow: var(--shadow);
}

a:hover {
  transform: scale(var(--scale));
}

h1, h2 {
  margin-bottom: 1rem;  
}

p {
  margin-bottom: 1rem;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
}