.topSection {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.sliderWrap {
  width: 40rem;
  height: 25rem;
}

.sliderWrap,
.heroWrap {
  flex: 1;
}

.hero {
  font-size: 1.5rem;
}

.heroTitle {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.cta {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 2rem;
}