.topSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(47%, 1fr));
  grid-gap: 3rem;
  align-items: center;
}

.sliderWrap {
  height: 25rem;
}

.hero {
  font-size: 1.5rem;
}

.heroTitle {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.cta {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 2rem;
}